<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Shop Christian Bible Studies, Books, &amp; Bibles | Lifeway</title>
  <meta
    name="description"
    content="Lifeway is a Christian resource since 1891. Buy your family and church Bible studies, Christian books, Bibles, Christian gifts and Christian music."
  />
  <meta
    property="og:title"
    content="Shop Christian Bible Studies, Books, &amp; Bibles | Lifeway"
  />
  <meta property="og:url" content="https://www.lifeway.com/" />
  <meta
    property="og:description"
    content="Lifeway is a Christian resource since 1891. Buy your family and church Bible studies, Christian books, Bibles, Christian gifts and Christian music."
  />
  <meta
    property="og:image"
    content="https://assets.lifeway.com/image/upload/t_base/f_auto/lw_gray_logo_500x500"
  />
  <meta property="og:type" content="website" />
  <meta
    name="google-site-verification"
    content="nJmD-m_t5sE4kLrAW5jp5koD0lrtKofdvd5a25khhF4"
  />
  <link rel="canonical" href="https://www.lifeway.com/" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="next-head-count" content="10" />
  <link rel="icon" href="/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" href="/favicon-192x192.png" sizes="192x192" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon-16x16.ico" />
  <link
    rel="apple-touch-icon"
    type="image/x-icon"
    href="/favicon-144x144.png"
  />
  <link rel="stylesheet" data-href="https://use.typekit.net/gst8vpr.css" />
  <link data-next-font="" rel="preconnect" href="/" crossorigin="anonymous" />
  <script
    type="text/javascript"
    async=""
    src="https://edge.fullstory.com/datalayer/v4/latest.js"
  ></script>
  <script src="https://ct.pinterest.com/static/ct/token_create.js"></script>
  <script
    type="text/javascript"
    async=""
    src="https://widget.intercom.io/widget/pvqbs0kp"
  ></script>
  <script
    src="https://connect.facebook.net/signals/config/932649873514196?v=2.9.196&amp;r=stable&amp;domain=www.lifeway.com&amp;hme=3469cd2310bfdef0792a05d8d61fe44de3551987a5200ece9665feac8460097d&amp;ex_m=72%2C128%2C113%2C117%2C63%2C5%2C106%2C71%2C17%2C101%2C93%2C52%2C56%2C182%2C185%2C197%2C193%2C194%2C196%2C30%2C107%2C54%2C79%2C195%2C177%2C180%2C190%2C191%2C198%2C139%2C42%2C203%2C200%2C201%2C35%2C152%2C16%2C51%2C207%2C206%2C141%2C19%2C41%2C1%2C44%2C67%2C68%2C69%2C73%2C97%2C18%2C15%2C100%2C96%2C95%2C114%2C53%2C116%2C40%2C115%2C31%2C98%2C27%2C178%2C181%2C149%2C12%2C13%2C14%2C7%2C8%2C26%2C23%2C24%2C59%2C64%2C66%2C77%2C55%2C105%2C108%2C28%2C78%2C10%2C9%2C82%2C49%2C22%2C110%2C109%2C111%2C102%2C11%2C21%2C3%2C39%2C76%2C20%2C161%2C88%2C135%2C29%2C75%2C0%2C99%2C58%2C86%2C34%2C84%2C85%2C92%2C48%2C47%2C90%2C91%2C38%2C6%2C94%2C83%2C45%2C33%2C36%2C89%2C4%2C87%2C248%2C175%2C126%2C164%2C157%2C2%2C37%2C65%2C43%2C112%2C46%2C81%2C70%2C118%2C62%2C61%2C32%2C103%2C60%2C57%2C50%2C80%2C74%2C25%2C104%2C119"
    async=""
  ></script>
  <script
    async=""
    src="https://connect.facebook.net/en_US/fbevents.js"
  ></script>
  <script
    async=""
    crossorigin="anonymous"
    src="https://edge.fullstory.com/s/fs.js"
  ></script>
  <script async="" src="https://www.clarity.ms/s/0.8.1/clarity.js"></script>
  <script async="" src="https://www.clarity.ms/tag/uet/187042860"></script>
  <script src="//bat.bing.com/bat.js" async=""></script>
  <script
    type="text/javascript"
    async=""
    src="https://analytics.lifeway.com/gtag/js?id=GT-MQDFHZVH&amp;l=dataLayer&amp;cx=c&amp;gtm=45Fe5481v9200489366za204&amp;sign=a09f1a0641c868dc71e350a10845f8be40709a66dbcf92341078127194aa8fd7_20250410&amp;tag_exp=102015665~102509682~102788824~102803279~102813109~102887799~102926062~102975949~103016951~103021830~103027016~103047562~103050889~103051953"
  ></script>
  <script id="gtmScript" data-nscript="beforeInteractive">
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://analytics.lifeway.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-K3KJDNVB");
  </script>
  <script id="gtagConfig" data-nscript="beforeInteractive">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "GTM-K3KJDNVB");
  </script>
  <link
    rel="preload"
    href="/_next/static/css/39818ad5740eefa8.css"
    as="style"
  />
  <link
    rel="stylesheet"
    href="/_next/static/css/39818ad5740eefa8.css"
    data-n-g=""
  />
  <noscript data-n-css=""></noscript>
  <script
    defer=""
    nomodule=""
    src="/_next/static/chunks/polyfills-42372ed130431b0a.js"
  ></script>
  <script
    src="https://assets.adobedtm.com/9d6ff803ca64/58657b802e77/launch-1aa7b8ec9ef7.min.js"
    defer=""
    data-nscript="beforeInteractive"
  ></script>
  <script
    src="/_next/static/chunks/webpack-e4b05f0473885a61.js"
    defer=""
  ></script>
  <script
    src="/_next/static/chunks/framework-df70baf5d07de238.js"
    defer=""
  ></script>
  <script src="/_next/static/chunks/main-1af0c47038344412.js" defer=""></script>
  <script
    src="/_next/static/chunks/pages/_app-78aa6f3187bcc8ba.js"
    defer=""
  ></script>
  <script
    src="/_next/static/chunks/75fc9c18-bf07ef36d2dad8e8.js"
    defer=""
  ></script>
  <script src="/_next/static/chunks/1219-a16921fc5b3f001f.js" defer=""></script>
  <script src="/_next/static/chunks/7348-dda3c800167d412d.js" defer=""></script>
  <script src="/_next/static/chunks/9855-6eb435e3b9eae83c.js" defer=""></script>
  <script src="/_next/static/chunks/8180-f0a1f19e3fa18803.js" defer=""></script>
  <script src="/_next/static/chunks/9078-a36869b2ec9e6877.js" defer=""></script>
  <script src="/_next/static/chunks/8639-c8008341ba543779.js" defer=""></script>
  <script src="/_next/static/chunks/919-61821e2d8383a3ac.js" defer=""></script>
  <script src="/_next/static/chunks/3907-92c259d89cc411e8.js" defer=""></script>
  <script src="/_next/static/chunks/7957-a6803a7ca9eec402.js" defer=""></script>
  <script src="/_next/static/chunks/5535-9475d9dc8290d179.js" defer=""></script>
  <script src="/_next/static/chunks/9510-f0c3938e5a6e6b12.js" defer=""></script>
  <script src="/_next/static/chunks/4972-5e6346008336214e.js" defer=""></script>
  <script src="/_next/static/chunks/7820-572eff3390c9d8c3.js" defer=""></script>
  <script src="/_next/static/chunks/911-f7024769e6c0cf9a.js" defer=""></script>
  <script src="/_next/static/chunks/5643-550ed2a8460ccee4.js" defer=""></script>
  <script src="/_next/static/chunks/3044-fb31d4531d12ad27.js" defer=""></script>
  <script src="/_next/static/chunks/1036-b3a8e2987f401c94.js" defer=""></script>
  <script src="/_next/static/chunks/2623-67744ea59ef7dc22.js" defer=""></script>
  <script src="/_next/static/chunks/5112-6690d34cf07ac938.js" defer=""></script>
  <script src="/_next/static/chunks/4017-96a8eeb4dd14f6b8.js" defer=""></script>
  <script
    src="/_next/static/chunks/pages/index-28cbcd2171c38bf0.js"
    defer=""
  ></script>
  <script
    src="/_next/static/BDZy7z2h6taNdZyr9IpER/_buildManifest.js"
    defer=""
  ></script>
  <script
    src="/_next/static/BDZy7z2h6taNdZyr9IpER/_ssgManifest.js"
    defer=""
  ></script>
  <link rel="stylesheet" href="https://use.typekit.net/gst8vpr.css" />
  <script
    src="https://assets.adobedtm.com/extensions/EPef068a8d6dd34a43866d9a80cc98baab/AppMeasurement.min.js"
    async=""
  ></script>
  <script
    src="https://assets.adobedtm.com/extensions/EPef068a8d6dd34a43866d9a80cc98baab/AppMeasurement_Module_ActivityMap.min.js"
    async=""
  ></script>
  <script
    src="https://seal-nashville.bbb.org/logo/lifeway-christian-resources-11175.js"
    type="text/javascript"
    async=""
  ></script>
  <script
    async="true"
    type="text/javascript"
    src="https://cdn.attn.tv/tag/4-latest/unified-tag.js?v=4-latest_a69180cb82"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.attn.tv/growth-tag-assets/client-configs/Eb6.js"
    async="true"
  ></script>
  <script
    src="https://assets.adobedtm.com/9d6ff803ca64/58657b802e77/95b08bc0904b/RC224fa028cb2a41dd85ee192fc9dffe0e-source.min.js"
    async=""
  ></script>
  <script
    src="https://assets.adobedtm.com/9d6ff803ca64/58657b802e77/95b08bc0904b/RC3fe09ebda0784b69a6f24ad1ddbe0e2a-source.min.js"
    async=""
  ></script>
  <script
    src="https://assets.adobedtm.com/9d6ff803ca64/58657b802e77/95b08bc0904b/RC611efcbee14a485da27405932fc9a70b-source.min.js"
    async=""
  ></script>
  <script
    src="https://assets.adobedtm.com/9d6ff803ca64/58657b802e77/95b08bc0904b/RCa2b9460903e249b09a14a6e382a9ae59-source.min.js"
    async=""
  ></script>
  <script
    src="https://assets.adobedtm.com/9d6ff803ca64/58657b802e77/95b08bc0904b/RC7034843957834895b07302d8c7a02ef7-source.min.js"
    async=""
  ></script>
  <script
    src="https://assets.adobedtm.com/9d6ff803ca64/58657b802e77/95b08bc0904b/RC04f83ebdb43d4e47b06b07ce675d15b6-source.min.js"
    async=""
  ></script>
  <script
    src="https://bat.bing.com/p/action/187042860.js"
    type="text/javascript"
    async=""
    data-ueto="ueto_f61181affd"
  ></script>
  <script
    src="https://assets.adobedtm.com/9d6ff803ca64/58657b802e77/95b08bc0904b/RC74d7359326a140e3ba3a3d694b7b2099-source.min.js"
    async=""
  ></script>
  <script
    src="https://assets.adobedtm.com/9d6ff803ca64/58657b802e77/95b08bc0904b/RC9a3e2a73069c41149f7facae92ead641-source.min.js"
    async=""
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://seal-blue.bbb.org/legacy.min.css"
  />
  <meta
    http-equiv="origin-trial"
    content="A7JYkbIvWKmS8mWYjXO12SIIsfPdI7twY91Y3LWOV/YbZmN1ZhYv8O+Zs6/IPCfBE99aV9tIC8sWZSCN09vf7gkAAACWeyJvcmlnaW4iOiJodHRwczovL2N0LnBpbnRlcmVzdC5jb206NDQzIiwiZmVhdHVyZSI6IkRpc2FibGVUaGlyZFBhcnR5U3RvcmFnZVBhcnRpdGlvbmluZzIiLCJleHBpcnkiOjE3NDIzNDIzOTksImlzU3ViZG9tYWluIjp0cnVlLCJpc1RoaXJkUGFydHkiOnRydWV9"
  />
  <script
    async=""
    src="https://rs.fullstory.com/rec/integrations?OrgId=o-1JPS6J-na1&amp;isInFrame=false&amp;isNative=false"
  ></script>
</head>
